@{
    ViewData["Title"] = "About";
}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
        <h1>Scenario</h1>
      <p>Your line manager proposed the development of a new web page, where team developers can inform their GitHub id (login) and receive advices about how they can improve their own profiles.</p>
    </div>
  </div>
</div>