<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="kevin-log" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
		<!--<target xsi:type="EventLog"
			name="EventLogTarget"
			source="ParserCSV_App"
			eventId="${event-properties:EventId:whenEmpty=0}"
			layout="${message}${newline}${exception:format=ToString}" />-->
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="kevin-log" />
		<!--<logger name="ApplicationEventLog" writeTo="EventLogTarget" />-->
	</rules>
</nlog>